<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<contextName>SSL-CHECK</contextName>
	<jmxConfigurator/>
	<!-- Sortie CONSOLE (dev) -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="SSL-CHECK" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log\ssl_check.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log\ssl_check.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="fr.accos.recouv" level="debug"
		additivity="false">	
		<appender-ref ref="SSL-CHECK" />
	</logger>
	<logger name="fr.accos.recouv.securite" level="info"
		additivity="false">
		<appender-ref ref="STDOUT" />		
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SSL-CHECK" />
	</root>
</configuration>